<h2>Bookmark App</h2>
<div  class="form-group">
    <span>Filtered by tag: <b>{{currentTag}}</b> </span> |
    <a href="" ng-click="clearFilter()">Clear filter</a>
    <button type="button" ng-click="showLastBookmark()">Last bookmark</button>
</div>
<div  bookmark="bookmark"
        ng-repeat="bookmark in bookmarks | filter:{tags:currentTag}">

   <button type="button" class="close"
           ng-click="deleteBookmark(bookmark)">&times;
   </button>
    <button type="button"
            class="btn btn-link"
            ng-click="editBookmark(bookmark)">
            <!--ui-sref="categories.bookmarks.edit({category:bookmark.category, bookmarkId:bookmark.id})">-->
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a>

</div>
<bookmarkedit ng-show="isEdit">1</bookmarkedit>
<bookmarkcreate ng-show="isCreate && !isEdit">1</bookmarkcreate>
<hr/>

<ui-view>
        <button type="button"
                class="btn btn-link"
                ng-click="createBookmark()"
                ng-show="!isCreate && !isEdit">
                  <span class="glyphicon glyphicon-plus"></span>
            Create Bookmark
        </button>
</ui-view>

